<%- include("partials/header"); %> 

<%- include("form") %> 

<h3>Memes</h3>
<div class="mt-3 mb-3">
    <% memes.forEach(meme => { %>
        <div class="card mx-3 my-4" style="width: 18rem; float: right;">
            <img src="<%= meme.url %>" class="card-img-top" height="280px" alt="meme_image">
            <div class="card-body">
                <h5 class="card-title"><%= meme.name %></h5>
                <p class="card-text"><%= meme.caption %></p>
            </div>
        </div>
    <% }) %>
</div>


<%- include("partials/footer"); %> 